<%- include('partials/header') %>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-10">
            
            <div class="box has-background-white">
                <div class="level">
                    <div class="level-left">
                        <div>
                            <h1 class="title is-3">Ordem de Serviço #<%= os.id %></h1>
                            <p class="subtitle is-6">Data de Abertura: <%= new Date(os.dataAbertura).toLocaleString('pt-BR') %></p>
                        </div>
                    </div>
                    <div class="level-right">
                        <span class="tag is-large <%= os.status === 'ABERTA' ? 'is-warning' : (os.status === 'FINALIZADA' ? 'is-success' : 'is-danger') %>">
                            <%= os.status %>
                        </span>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column is-6">
                        <h3 class="title is-5 has-text-link"><i class="fa-solid fa-user mr-2"></i> Dados do Cliente</h3>
                        <p><strong>Nome:</strong> <%= os.cliente ? os.cliente.nome : 'N/A' %></p>
                        <p><strong>CPF:</strong> <%= os.cliente ? os.cliente.cpf : 'N/A' %></p>
                        <p><strong>Telefone:</strong> <%= os.cliente ? os.cliente.telefone : 'N/A' %></p>
                    </div>

                    <div class="column is-6">
                        <h3 class="title is-5 has-text-link"><i class="fa-solid fa-mobile-screen mr-2"></i> Equipamento</h3>
                        <p><strong>Aparelho:</strong> <%= os.marca %> <%= os.modelo %></p>
                        <p><strong>IMEI/S/N:</strong> <%= os.imei || 'Não informado' %></p>
                        <p><strong>Senha:</strong> <span class="tag is-light is-family-monospace"><%= os.senhaDispositivo || 'N/A' %></span></p>
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-6">
                        <h3 class="title is-5 has-text-link"><i class="fa-solid fa-wrench mr-2"></i> Relato do Defeito</h3>
                        <div class="notification is-light">
                            <%= os.descricao %>
                        </div>
                    </div>

                    <div class="column is-6">
                        <h3 class="title is-5 has-text-link"><i class="fa-solid fa-box-open mr-2"></i> Acessórios Deixados</h3>
                        <p><%= os.acessorios || 'Nenhum acessório informado.' %></p>
                    </div>
                </div>

                <hr>

                <div class="columns">
                    <div class="column is-8">
                        <h3 class="title is-5 has-text-info"><i class="fa-solid fa-file-medical mr-2"></i> Laudo Técnico</h3>
                        <p class="has-text-grey-dark">
                            <%= os.laudoTecnico || 'Aguardando avaliação do técnico...' %>
                        </p>
                    </div>
                    <div class="column is-4 has-text-centered">
                        <div class="box has-background-light">
                            <p class="heading">Valor Total</p>
                            <p class="title is-4">R$ <%= os.valor.toFixed(2) %></p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                        <button onclick="window.print()" class="button is-dark">
                            <i class="fa-solid fa-print mr-2"></i> Imprimir OS
                        </button>
                    </p>
                    <p class="control">
                        <a href="/os/editar/<%= os.id %>" class="button is-info">
                            <i class="fa-solid fa-pen mr-2"></i> Editar
                        </a>
                    </p>
                    <p class="control">
                        <a href="/os" class="button is-light">Voltar</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer') %>